@use '../utilities/' as *;

body {
    font-size: 16px;
    font-family: $ff-primary;
    counter-reset: heading;
    overflow-x: hidden;
}

/* Anchor elements */
a {
    text-decoration: none;
    color: inherit;
}