@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

/* Spacing */
.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* Skip to content link */
.skip-to-content-link {
    position: fixed;
    top: 115px;
    left: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    background-color: $c-white;
    font-size: 0.8rem;
    text-decoration: underline;
    z-index: 100;
    transform: translateX(-200px);
    transition: transform 300ms ease;

    &:focus {
        outline-offset: 0;
        transform: translateX(0);
    }
}

/* Visually hiding content */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Overlay for menu */
.menu-overlay {
    visibility: hidden;
    position: fixed;
    inset: 0;
    background: linear-gradient(rgba(0,0,0,0.01), rgba(0,0,0,0.4));
    opacity: 0;
    transition: opacity 350ms ease-in-out;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

/* Headings */
.heading {
    font-weight: 700;
    color: $c-blue-dark;
    line-height: 1.5;
    
    &--xxxl {
        @extend .heading;
        font-size: 2.2rem;
        line-height: 1.26;
        letter-spacing: -0.0625rem;
        
        @media (min-width: 374px) {
            font-size: clamp(2.5rem, 5vw, 3.5rem);
        }
        
        @include breakpoint (lg) {
            line-height: 1.14;
        }
    }

    &--xxl {
        @extend .heading;
        font-size: 2.5rem;
        letter-spacing: -0.023em;
        line-height: 1.25;

        @include breakpoint(md) {
            line-height: 1.18;
        }
    }

    &--xl {
        @extend .heading;
        font-size: clamp(1.8rem, 4vw, 2.45rem);

        @include breakpoint(lg) {
            line-height: 1.19;
            letter-spacing: -0.02rem;
        }
    }

    &--l {
        @extend .heading;
        font-size: clamp(0.82rem, 4.2vw, 0.97rem);
    }

    &--white {
        color: $c-white;
    }
}

/* Paragraphs */
.paragraph {
    color: $c-blue-dark-grayish;
    
    &--xl {
        @extend .paragraph;
        line-height: 1.74;

        @include breakpoint(md) {
            line-height: 1.66;
        }
    }
    
    &--l {
        @extend .paragraph;
        /* font-size: clamp(0.874rem, 4vw, 1rem); */
        font-size: clamp(0.874rem, 1.4vw, 1rem);
        line-height: 1.95;

        @include breakpoint(md) {
            line-height: 1.65;
        }
    }
}