@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.overlay {
    position: fixed;
    inset: 0;
    background: linear-gradient(rgba(0,0,0,0.01), rgba(0,0,0,0.4));
    opacity: 0;
    transition: opacity 350ms ease-in-out;

    &.active {
        opacity: 1;
    }
}