@use '../utilities/' as *;

.about {
    $root: &;

    &__info {
        display: flex;
        flex-flow: column;
        text-align: center;
        padding: 0 31px;
    }
    
    &__info-text {
        max-width: 500px;
        margin: 16px auto 0 auto;
    }

    &__features {
        display: flex;
        flex-flow: column;
        gap: 49px;
        padding-left: 16px;
        max-width: 600px;
        margin: 55px auto 0 auto;
    }

    &__features-title {
        position: relative;
        margin-left: 49px;
        background-color: $c-red-very-pale;
        padding: 8px 0 8px 33px;

        &::before {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            content: "0" counter(heading);
            counter-increment: heading;
            inset: 0 0 0 -49px;
            width: 67px;
            height: 100%;
            background: $c-red-bright;
            color: $c-white;
            border-radius: 25px;
        }
    }

    &__features-text {
        margin-top: 9px;
        max-width: clamp(342px, 91vw, 555px);
    }
}