@use '../utilities/' as *;

.kv {
    $root: &;
    position: relative;
    padding: 0 24px;
    overflow-x: hidden;

    &::before {
        position: absolute;
        display: block;
        content: "";
        background-image: url("../img/bg-tablet-pattern.svg");
        background-size: clamp(450px, 112vw, 621px);
        background-repeat: no-repeat;
        top: -105px;
        left: 15vw;
        width: 100%;
        height: 800px;
        z-index: -1;
    }

    &__container {
        padding-top: 108px;
    }

    &__illustration {
        display: block;
        background-image: url('../img/illustration-intro.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 82vw;
        max-width: 600px;
        max-height: 550px;
        margin: 0 auto;
    }

    &__intro {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
    }

    &__text {
        margin-top: 7px;
    }

    &__cta {
        margin-top: 31px;
    }
}