@use '../utilities/' as *;

.kv {
    $root: &;
    position: relative;
    padding: 0 24px;
    overflow-x: hidden;

    &::before {
        position: absolute;
        content: "";
        background-image: url("../img/bg-tablet-pattern.svg");
        background-size: clamp(450px, 112vw, 621px);
        background-repeat: no-repeat;
        top: -105px;
        left: 15vw;
        width: 100%;
        height: 100%;
        z-index: -1;

        @include breakpoint(md) {
            right: -53vw;
            left: unset;
        }

        @include breakpoint(lg) {
            background-size: 792px;
            top: -133px;
            right: -54vw;
            height: 860px;
        }
    }

    &__container {
        padding: 108px 0 95px 0;

        @include breakpoint(md) {
            display: flex;
            height: 730px;
            padding-top: 150px;
        }

        @include breakpoint(lg) {
            height: 836px;
            padding-top: 209px;
        }
    }

    &__illustration {
        background-image: url('../img/illustration-intro.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 82vw;
        max-width: 600px;
        max-height: 550px;
        margin: 0 auto;
        opacity: 0;
        animation: init-illustration-rotate 1000ms ease-in forwards;

        @include breakpoint(md) {
            order: 1;
            background-size: 100%;
            background-position: top;
            height: 100%;
            margin-right: -30px;
        }

        @include breakpoint(lg) {
            background-size: 97%;
        }
    }
    
    &__intro {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        max-width: 490px;
        margin: 0 auto;
        opacity: 0;
        animation: init-intro-slide 1000ms ease-in forwards;
        
        @include breakpoint(md) {
            order: 0;
            text-align: left;
            align-items: flex-start;
            margin: 60px 0 0 0;
            max-width: 440px;
        }
    }

    &__text {
        margin-top: 7px;

        @include breakpoint(md) {
            margin-top: 33px;
            max-width: 350px;
        }
    }

    &__cta {
        margin-top: 31px;

        @include breakpoint(lg) {
            margin-top: 39px;
        }
    }
}