@use '../utilities/' as *;

.start {
    $root: &;
    position: relative;
    background-color: $c-red-bright;
    padding: 91px 24px;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        inset: 37px 0px 0px -24px;
        background-image: url("../img/bg-simplify-section-mobile.svg");
        background-repeat: no-repeat;
        background-size: 32%;
        width: 100%;
        height: 100%;

        @include breakpoint(lg) {
            inset: 0vw 0px 0px 230px;
            background-image: url("../img/bg-simplify-section-desktop.svg");
            background-size: 104%;
            height: 1000px;
        }

        @media (min-width: 1300px) {
            inset: -130px 0 0 230px;
        }
    }

    @include breakpoint(lg) {
        padding: 63px 24px;
    }

    &__container {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        z-index: 1;

        @include breakpoint(md) {
            flex-flow: row;
            align-items: unset;
            text-align: left;
            justify-content: space-between;
        }
    }

    &__title {
        max-width: 450px;
    }

    &__cta {
        margin-top: 29px;

        @include breakpoint(lg) {
            margin-top: 26px;
        }
    }
}